<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label class="modal-label" color="primary" position="stacked">Title</ion-label>
    <ion-input clearInput [(ngModel)]="quot.title" padding></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="modal-label" color="primary" position="stacked">Description</ion-label>
    <ion-textarea clearInput [(ngModel)]="quot.description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label class="modal-label" color="primary" position="stacked">Quote Date</ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="quot.start_date">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label class="modal-label" color="primary" position="stacked">Expire Date</ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="quot.end_date">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label class="modal-label" color="primary" position="stacked">Notes</ion-label>
    <ion-textarea clearInput [(ngModel)]="quot.note"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="primary" (click)="save()">Save</ion-button>
  </ion-toolbar>
</ion-footer>