<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Quotation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="attach" item-start></ion-icon>
      <ion-input placeholder="Enter quotation name" clearInput [(ngModel)]="quot.title"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label class="bold-title">Customer Detail</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Customer Name</ion-label>
      <ion-input placeholder="Enter name" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Customer Phone</ion-label>
      <ion-input type="tel" placeholder="Enter phone" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Email</ion-label>
      <ion-input type="email" placeholder="Enter email" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Descriptions</ion-label>
      <ion-textarea placeholder="Enter description" [(ngModel)]="quot.desc"></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label class="bold-title">Job Detail</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Job Name</ion-label>
      <ion-input type="text" placeholder="Enter job name" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Onsite Date</ion-label>
      <!-- <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="myDate"> -->
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="quot.onsiteDate">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Quote Expire Date</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="quot.expireDate">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Job Date</ion-label>
      <ion-datetime displayFormat="MMM DD" [(ngModel)]="myDate">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Job Location</ion-label>
      <ion-input placeholder="Enter address" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Notes</ion-label>
      <ion-textarea placeholder="Enter notes" [(ngModel)]="quot.note"></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label class="bold-title">Quote Items</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Quantity</ion-label>
      <ion-input placeholder="Enter quantity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Unit type</ion-label>
      <ion-input placeholder="Enter unit type"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Rate</ion-label>
      <ion-input placeholder="Enter rate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">GST</ion-label>
      <ion-input placeholder="Enter GST"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" font-weight="bold">Total</ion-label>
      <ion-input placeholder="Enter Total"></ion-input>
    </ion-item>
  </ion-card>

  <ion-button expand="full" (click)="addQuot()">Save</ion-button>

</ion-content>